@import url("https://fonts.googleapis.com/css2?family=REM&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=REM&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "REM", sans-serif;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchbar {
  outline: none;
  display: flex;
  height: 28px;
  padding: 3px 4px;
  margin: 0px 8px 0px 0px;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 0px 20px 0px rgb(36, 101, 32);
}

#icon {
  height: 27px;
  width: 28px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 15px 0px rgb(36, 101, 32);
  border-radius: 2px;
}

#icon:hover {
  transition: all ease 0.5s;
  background-color: rgba(62, 42, 42, 0.849);
  box-shadow: 0px 0px 15px 0px rgb(36, 101, 32);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(18, 17, 17);
}

.nav {
  font-family: "Cabin", sans-serif;
  display: flex;
  color: black;
  font-weight: 600;
  font-size: 24px;
  align-items: center;
  justify-content: space-between;
  margin: 0% 0% 2% 0%;
}

span {
  color: rgb(227, 226, 222);
  font-size: 28px;
}

.logo {
  margin: 0% 0% 0% 3%;
}

.container {
  padding: 2%;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  background-color: rgb(125, 176, 125);
  border-radius: 8px;
  box-shadow: inset 0 0 25px 1px #185518;
}

.searching {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 5%;
}

img {
  height: 100%;
  width: 30%;
  margin: 1% 0% 5% 0%;
}

.city {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.humidity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space {
  display: flex;
  margin: 6% 13%;
  align-items: center;
  gap: 17px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}